<!DOCTYPE html>
<html lang="pt-br">

<head>
	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"/>
	<link href="{{ url_for('static', filename='trowel.svg') }}" rel="icon"/>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<meta content="Luiz Joaquim Aderaldo Amichi" name="author"/>
	<title>Depósito de Materiais de Construção São Judas Tadeu</title>
</head>

<body class="bg-light">
	<!-- Cabeçalho -->
	<div class="bg-dark py-3 text-center">
		<h1 class="text-light">Depósito de Materiais de Construção São Judas Tadeu</h1>
	</div>
	<!--/ Cabeçalho -->

	<div class="container">
		<!-- Conteúdo da Página -->
		<div class="mt-3 text-center">
			<h1>Página não encontrada</h1>
			<p>Ir para o <a href="{{ url_for('index') }}">início</a></p>
		</div>
		<!--/ Conteúdo da Página -->
	</div>

	<!-- Rodapé -->
	<footer class="bg-dark fixed-bottom py-3 text-white-50">
		<div class="text-center">
			Copyright &copy; 2017 Depósito de Materiais de Construção São Judas Tadeu
			<a href="https://luizamichi.com.br">
				<img alt="Luiz Joaquim Aderaldo Amichi" class="d-block mx-auto mt-2" src="{{ url_for('static', filename='luiz_amichi.svg') }}" title="Desenvolvido por Luiz Joaquim Aderaldo Amichi" width="50"/>
			</a>
		</div>
	</footer>
	<!--/ Rodapé -->
</body>

</html>
