<!DOCTYPE html>
<html lang="pt-br">

<head>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
	<link href="{{ url_for('static', filename='img/trowel.svg') }}" rel="icon"/>
	<meta content="Luiz Joaquim Aderaldo Amichi" name="author"/>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<title>Depósito de Materiais de Construção São Judas Tadeu - Login</title>
</head>

<body>
	<!-- Cabeçalho -->
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('index') }}">
				<img alt="Depósito de Materiais de Construção São Judas Tadeu" class="img-fluid" src="{{ url_for('static', filename='img/logo.png') }}" width="100"/>
			</a>
		</div>
	</nav>
	<!--/ Cabeçalho -->

	<!-- Formulário de Login -->
	<div class="container" style="margin-bottom: 150px; margin-top: 100px;">
		<div class="form-row justify-content-center">
			<form action="{{ url_for('login') }}" method="POST">
				<div class="text-center">
					<img alt="Login" class="my-3" src="{{ url_for('static', filename='img/padlock.svg') }}" width="72"/>
				</div>
				<h3 class="h3 mb-3 text-center">Entra com seus dados para acessar o sistema</h3>
				<div class="col-auto mb-3">
					<label class="sr-only" for="unsername">Usuário</label>
					<input autofocus class="form-control" id="unsername" name="alias" placeholder="Usuário" required type="text"/>
				</div>
				<div class="col-auto mb-3">
					<label for="password" class="sr-only">Senha</label>
					<input class="form-control" id="password" name="password" placeholder="Senha" required type="password"/>
				</div>
				<div class="col-auto mb-3">
					<button class="btn btn-block btn-dark btn-lg" type="submit">Entrar</button>
				</div>
				{% if get_flashed_messages() %}
				<div class="col-auto mb-3">
					<div class="alert alert-{{ get_flashed_messages()[1] }}" role="alert">{{ get_flashed_messages()[0] }}</div>
				</div>
				{% endif %}
			</form>
		</div>
	</div>
	<!--/ Formulário de Login -->

	<!-- Rodapé -->
	<footer class="bg-dark fixed-bottom py-3 text-white-50">
		<div class="text-center">
			Copyright &copy; 2019 Depósito de Materiais de Construção São Judas Tadeu
			<a href="https://luizamichi.com.br">
				<img alt="Luiz Joaquim Aderaldo Amichi" class="d-block mx-auto mt-2" src="{{ url_for('static', filename='img/luiz_amichi.svg') }}" title="Desenvolvido por Luiz Joaquim Aderaldo Amichi" width="50"/>
			</a>
		</div>
	</footer>
	<!--/ Rodapé -->
</body>

</html>
