{% extends 'base_system.html' %}

{% set page = 'services' %}

{% block title %}{{ super() }} - Serviços{% endblock %}

{% block content %}
<div class="container">
	{% if get_flashed_messages() %}
	<div class="text-center mt-3">
		<div class="alert alert-{{ get_flashed_messages()[1] }}" role="alert">{{ get_flashed_messages()[0] }}</div>
	</div>
	{% endif %}
</div>

<!-- Formulário de Consulta -->
<div class="container-fluid mt-3">
	<form action="{{ url_for('read_service') }}" method="get">
		<div class="form-row justify-content-center">
			<div class="col-sm-5">
				<label class="sr-only" for="search">Nome</label>
				<input class="form-control mb-3" id="search" name="name" placeholder="Nome do Serviço" required type="text"/>
			</div>
			<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1">
				<button class="btn btn-block btn-dark mb-3" type="submit">Procurar</button>
			</div>
		</div>
	</form>
</div>
<!--/ Formulário de Consulta -->

{% if services %}
<!-- Tabela de Serviços -->
<div class="table-responsive">
	<table class="table table-hover table-sm">
		<caption></caption>
		<thead class="thead-dark">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">Preço</th>
			</tr>
		</thead>
		<tbody>
			{% for service in services %}
			<tr>
				<th scope="col">{{ service.id }}</th>
				<td>{{ service.name }}</td>
				<td>{{ service.price }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<!--/ Tabela de Serviços -->
{% endif %}

<!-- Formulário de Inserção -->
<div class="container-fluid">
	<form action="{{ url_for('create_service') }}" method="post">
		<div class="form-row justify-content-center">
			<div class="col-sm-8">
				<label class="sr-only" for="name_insert">Nome</label>
				<input class="form-control mb-3" id="name_insert" name="name" placeholder="Nome" required type="text"/>
			</div>
			<div class="col-sm-3">
				<label class="sr-only" for="price_insert">Preço</label>
				<input class="form-control mb-3" id="price_insert" name="price" pattern="^\d+\.\d{2}$" placeholder="Preço" required type="text"/>
			</div>
			<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1">
				<button class="btn btn-block btn-dark mb-3" type="submit">Cadastrar</button>
			</div>
		</div>
	</form>
</div>
<!--/ Formulário de Inserção -->

<!-- Formulário de Alteração -->
<div class="container-fluid">
	<form action="{{ url_for('update_service') }}" method="post">
		<div class="form-row justify-content-center">
			<div class="col-sm-1">
				<label class="sr-only" for="id_update">ID</label>
				<input class="form-control mb-3" id="id_update" min="1" name="id" placeholder="ID" required type="number"/>
			</div>
			<div class="col-sm-7">
				<label class="sr-only" for="name_update">Nome</label>
				<input class="form-control mb-3" id="name_update" name="name" placeholder="Nome" required type="text"/>
			</div>
			<div class="col-sm-3">
				<label class="sr-only" for="price_update">Preço</label>
				<input class="form-control mb-3" id="price_update" name="price" pattern="^\d+\.\d{2}$" placeholder="Preço" required type="text"/>
			</div>
			<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1">
				<button class="btn btn-block btn-dark mb-3" type="submit">Alterar</button>
			</div>
		</div>
	</form>
</div>
<!--/ Formulário de Alteração -->

<!-- Formulário de Remoção -->
<div class="container-fluid mb-3">
	<form action="{{ url_for('delete_service') }}" method="post">
		<div class="form-row justify-content-center">
			<div class="col-sm-11">
				<label class="sr-only" for="id_remove">ID</label>
				<input class="form-control mb-3" id="id_remove" min="1" name="id" placeholder="ID" required type="number"/>
			</div>
			<div class="col-sm-3 col-md-2 col-lg-2 col-xl-1">
				<button class="btn btn-block btn-dark mb-3" type="submit">Remover</button>
			</div>
		</div>
	</form>
</div>
<!--/ Formulário de Remoção -->

<!-- Autocomplete do Formulário de Alteração -->
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const tableRows = document.querySelectorAll('table.table-hover tbody tr');

		tableRows.forEach(row => {
			row.addEventListener('dblclick', function () {
				const cells = this.getElementsByTagName('td');
				const id = this.querySelector('th').textContent;
				const name = cells[0].textContent;
				const price = cells[1].textContent.replace(/\./g, '').replace(',', '.').replace(/[^0-9\.-]+/g, '');

				document.getElementById('id_update').value = id;
				document.getElementById('name_update').value = name;
				document.getElementById('price_update').value = price;

				document.getElementById('id_remove').value = id;

				document.querySelector('form[action="{{ url_for("update_service") }}"]').scrollIntoView({
					behavior: 'smooth'
				});
			});
		});
	});
</script>
<!--/ Autocomplete do Formulário de Alteração -->

{% endblock %}
