{% extends 'base_system.html' %}

{% set page = 'home' %}

{% block title %}{{ super() }} - Sistema{% endblock %}

{% block content %}
<div class="container">
	{% if get_flashed_messages() %}
	<div class="text-center mt-3">
		<div class="alert alert-success" role="alert">{{ get_flashed_messages()[0] }}</div>
	</div>
	{% endif %}
	<div class="text-center">
		<img alt="Sistema de Gerenciamento de Conteúdo" class="img-fluid" src="{{ url_for('static', filename='img/cms.svg') }}" width="500"/>
	</div>
</div>

{% endblock %}
